numpy
pandas
matplotlib
statsmodels
scipy
pyts
pmdarima
scikit-learn
PyWavelets
pykalman
torch
astropy
seaborn
requests
pyinform
tigramite
yfinance
pytrends
fredapi
python-dotenv
dtaidistance
pycoingecko
joblib
pytz
tqdm
ta
pandas-datareader
tiingo
ccxt
gymnasium
stable-baselines3[extra]
lightning

# Google API packages
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib